.header_a {
  width: 33.3%;
}

.header_a_img {
  width: 118px;
  height: 64px;
}

.header_search {
  width: 33.4%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header_search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 361px;
  height: 46px;
  border: 1px solid #dddddd;
  justify-content: space-around;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.header_search_strong {
  height: 22px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 14px;
  border-right: 1px solid var(--color-airbnb-grey);
}

.header_search_bar_right {
  display: flex;
  color: #717171;
}

.header_search_bar_right button {
  font-size: 14px;
  color: #717171;
  padding: 0 16px;
}

.header_search_glassBox {
  width: 32px;
  height: 32px;
  background-color: var(--color-brand);
  border-radius: 50%;
  margin-right: 5px;
}

.header_search_glassBox_glass {
  width: 12px;
  height: 12px;
  filter: invert(100%) sepia(2%) saturate(980%) hue-rotate(216deg)
    brightness(122%) contrast(100%);
  margin: 10px;
}

.header_profile {
  display: flex;
  justify-content: flex-end;
  width: 33.3%;
}

.header_profile_host {
  width: 389px;
  height: 42px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_profile_host_map {
  width: 46px;
  height: 17px;
}

.header_profile_host_map img {
  width: 16px;
  height: 16px;
}

.header_profile_host a {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
}

.header_profile_user {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  justify-content: space-evenly;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  width: 83px;
  height: 44px;
}

.header_profile_user_ham {
  width: 22px;
  height: 18.8px;
}

.header_profile_user_position {
  position: relative;
}

.header_profile_user_login {
  width: 29px;
  height: 29px;
}

.header_profile_user_position_absolute {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -1px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  z-index: 2;
}

.header_profile_user_position_absolute_color {
  background-color: var(--color-brand);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 3;
  transform: translate(1px, 1px);
}

.header_profile_user img {
  filter: invert(37%) sepia(0%) saturate(3822%) hue-rotate(244deg)
    brightness(114%) contrast(92%);
}
