#main {
  display: flex;
  justify-content: space-between;
  margin: 48px 119px 0px;
  padding: 0px 80px 0;
  border-bottom: 1px solid var(--color-airbnb-grey);
}

/* Main Left */

.main_left {
  display: flex;
  flex-direction: column;
  width: 653px;
}

.main_right {
  width: 373px;
  height: 552px;
  position: sticky;
  top: 130px;
}

#variable {
  margin: 48px 119px 0px;
  padding: 0px 80px 0;
}
