/* mainPage */
@import url(./header.module.css);
@import url(./nav.module.css);
@import url(./main.module.css);
@import url(./footer.module.css);
@import url(./fliter.module.css);

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-airbnb-grey: #dddddd;
  --color-airbnbFont-grey: #717171;
  --color-black: #000000;
  --color-font-black: #222222;
  --color-brand: #ff385c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radious: 4px;

  /* Annimations */
  --annimation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  cursor: default;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

em {
  font-style: normal;
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

cite {
  font-style: none;
}

.blind {
  display: none;
}
