.navBtn_flex {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 1250px;
  overflow: hidden;
}

.nav_btn {
  padding: 0px;
  height: 78px;
  max-width: 88px;
  color: var(--color-airbnbFont-grey);
  filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(118deg) brightness(96%)
    contrast(88%);
}

.nav_btn:hover {
  border-bottom: 2px solid var(--color-airbnb-grey);
  filter: invert(8%) sepia(1%) saturate(1769%) hue-rotate(331deg)
    brightness(103%) contrast(88%);
  color: var(--color-font-black);
  font-weight: 600;
}

.nav_btn:focus {
  border-bottom: 2px solid var(--color-black);
  filter: invert(8%) sepia(1%) saturate(1769%) hue-rotate(331deg)
    brightness(103%) contrast(88%);
  color: var(--color-font-black);
  font-weight: 600;
}

.nav_btn_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 48px;
  font-weight: 600;
}

.nav_btn_title_img {
  width: 24px;
  height: 24px;
}

.nav_btn_title_p {
  font-size: 12px;
}

.nav_left_btnSpace,
.nav_right_btnSpace {
  width: 38px;
  height: 78px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px 1px white;
}

.nav_right_btnSpace {
  position: absolute;
  top: 16%;
  right: 11.9%;
}

.nav_left_btnSpace {
  position: absolute;
  top: 16%;
  display: none;
}

.nav_left_btnSpace_btn,
.nav_right_btnSpace_btn {
  width: 28px;
  height: 28px;
  background-color: var(--color-white);
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-light-grey);
  border: 1px solid var(--color-airbnb-grey);
  margin-left: 4px;
  margin-top: 24px;
}

.nav_filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px 0px;
  border: 1px solid var(--color-airbnb-grey);
  border-radius: 10px;
  width: 80px;
  height: 48px;
}

.nav_filter_img {
  width: 14px;
  height: 14px;
}

.nav_filter p {
  color: var(--color-font-black);
  font-weight: 600;
  font-size: 12px;
}
