.nav_flex {
  z-index: 1;
  position: relative;
  width: 1250px;
  padding: 20px 0px;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.navBtn_flex {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 1250px;
  overflow: hidden;
}

.nav_btn {
  padding: 0px;
  height: 78px;
  max-width: 88px;
  color: var(--color-airbnbFont-grey);
  filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(118deg) brightness(96%)
    contrast(88%);
}

.nav_btn:hover {
  border-bottom: 2px solid var(--color-airbnb-grey);
  filter: invert(8%) sepia(1%) saturate(1769%) hue-rotate(331deg)
    brightness(103%) contrast(88%);
  color: var(--color-font-black);
  font-weight: 600;
}

.nav_btn:focus {
  border-bottom: 2px solid var(--color-black);
  filter: invert(8%) sepia(1%) saturate(1769%) hue-rotate(331deg)
    brightness(103%) contrast(88%);
  color: var(--color-font-black);
  font-weight: 600;
}

.nav_btn_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 48px;
  font-weight: 600;
}

.nav_btn_title_img {
  width: 24px;
  height: 24px;
}

.nav_btn_title_p {
  font-size: 12px;
}

.nav_left_btnSpace,
.nav_right_btnSpace {
  width: 38px;
  height: 78px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px 1px white;
  margin: 0px;
  cursor: pointer;
}

.nav_right_btnSpace {
  position: absolute;
  top: -160%;
  right: 92.9%;
}

.nav_left_btnSpace {
  position: absolute;
  top: -160%;
  display: block;
}

.nav_left_btnSpace_btn,
.nav_right_btnSpace_btn {
  width: 28px;
  height: 28px;
  background-color: var(--color-white);
  border-radius: 50px;
  color: var(--color-light-grey);
  border: 1px solid var(--color-airbnb-grey);
  transform: translate(25%, 100%);
}

.nav_left_btnSpace_btn > img,
.nav_right_btnSpace_btn > img {
  width: 12px;
  height: 12px;
  transform: translate(55%, 55%);
}
